<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">
      <link rel="stylesheet" href="src/styles/style.css" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
          <link rel="stylesheet" href="src/styles/font-awesome-4.7.0/css/font-awesome.min.css">
          <title>Inverted Index</title>
</head>

<body ng-app="invIndex" class="ng-scope">
  <header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top " role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-display"
            aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Inverted Index</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text navbar-right">
              <a href="https://github.com/andela-gike/Checkpoint-1" class="navbar-link">Follow on Github</a></p>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="landing">
    <div class="container-fluid">
      <div class="row main-body">
        <div class="row">
          <div class="main" ng-controller="MainController">
            <!--modal-->
            <div class="container">
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <!-- modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Message</h4>
                    </div>
                    <div class="modal-body">
                      {{message}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--upload class-->
              <div class="container" style="background-color:azure;">
                <div class="row">
                  <div class="col-md-3" style="background-color:azure;">
                    <p>
                    </p>
                    <h3> About this Application </h3>
                    <br>
                    <p>
                      This Inverted Index allows you to perform quick searches for a number of words. An
                      inverted index consists of a list of all the unique words that
                      appear in any document, and for each word, a list of the documents
                      in which it appears.
                    </p>
                    <hr>
                    <p>
                    </p>
                    <h4> How to use the application </h4>
                    <p>
                    </p>
                    <p> 1. Upload a valid JSON file </p> <br>
                    <p> 2. Select file to index and use the create index button to generate
                      the index </p> <br>
                    <p> 3. Enter word(s) to search.
                      Then click on all or any of the file you want to search from and use the search icon to search </p><br>
                    <p></p>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="row">
                        <h4>Upload file</h4>
                        <input type="file" value="indexFile" id="indexUploadFile" multiple>
                      </div>
                      <br/>
                      <div class="row">
                        <p>Choose a file to index:</p>
                        <select id="fileNames" ng-model="addFile">
                        <option value="nofile" disabled selected> Choose a file to index</option>
                        <option ng-model="addFile" ng-repeat="(file, content) in uploadFile" value="{{file}}">{{file}}</option>
                      <option value="all" ng-model="addFile"  ng-if="keys(uploadFile).length > 1"> All files</option>
                        </select>
                      </div>
                      <br/>
                      <div class="row">
                        <button type="button" class="btn btn-custom" id="create-index" ng-click="createIndex()">Create Index</button>
                      </div>
                      <div class="table-display" ng-if="indexReveal" ng-repeat="file in indexFile" id="upload-index">
                        <br/>
                        <p><strong>Key:</strong><br/><i class="fa fa-check-square-o" aria-hidden="true" style="color:limegreen"></i>  : Present in entry<br/>
                          <i class="fa fa-close" style="color:red"></i> : Absent
                          from entry </p><br/><br/>
                        <p class="tbl-intro" ng-if="indexReveal">Index created for {{ file.name }}</p>
                        <table class="table table-hover table-responsive">
                          <thead>
                            <th>Word</th>
                            <th ng-repeat="number in arrayCount(keys(file).length) track by $index" style="text-align: center;">
                              Document_{{$index + 1}}
                            </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key , value) in file.index">
                              <td>{{ key }}</td>
                              <td ng-repeat="number in arrayCount(keys(file).length) track by $index" style="text-align: center;">
                                <span ng-if="value.includes($index)"><i class="fa fa-check-square-o" aria-hidden="true" style="color:limegreen"></i></span>
                                <span ng-if="!value.includes($index)"><i class="fa fa-close" style="color:red"></i></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <br/>
                      <br/>
                      <br/>
                      <br/>
                    </div>
                    <div class="row col-md-4">
                      <div class="row">
                        <div class="span12">
                          <h4>Search</h4>
                          <form id="custom-search-form" class="form-search form-horizontal">
                            <div class="input-append span12">
                              <input type="text" class="search-query" id="search-terms" ng-model="searchWord" placeholder="Search"
                                required>
                                <button type="submit" class="btn" id="search-button" ng-click="searchIndex()"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="searchIndex()"></span></i></button>
                                <br/>
                            </div>
                          </form>
                          <br/>
                          <div class="form-group">
                            <p>Choose a file to search:</p>
                            <select id="fileNames" ng-model="searchedFile">
                          <option value="nofile" disabled selected> Choose a file to search </option>
                            <option ng-model="searchedFile" ng-repeat="(file, content) in indexFile" value="{{file}}">{{file}}</option>
                            <option value="all" ng-model="searchedFile"  ng-if="keys(indexFile).length > 1"> All files</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <br/>
                      <div class="table-display" ng-if="searchTable" ng-repeat="file in searchFile" id="search-index">
                        <p><strong>Key:</strong><br/><i class="fa fa-check-square-o" aria-hidden="true" style="color:limegreen"></i> : Present in entry<br/>
                          <i class="fa fa-close" style="color:red"></i> : Absent
                          from entry </p><br/><br/>
                        <p class="tbl-intro" ng-model="searchWord" ng-if="searchTable">Showing search results for {{searchWord}} in {{file.name}}</p>
                        <table class="table table-hover table-responsive">
                          <thead>
                            <tr>
                              <th>Word</th>
                              <th ng-repeat="number in arrayCount(keys(file).length) track by $index" style="text-align: center;">
                                Document_{{$index + 1}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key , value) in file.index">
                              <td>{{key}}</td>
                              <td ng-repeat="number in arrayCount(keys(file).length) track by $index" style="text-align: center;">
                                <span ng-if="value.includes($index)"><i class="fa fa-check-square-o" aria-hidden="true" style="color:limegreen"></i></span>
                                <span ng-if="!value.includes($index)"><i class="fa fa-close" style="color:red"></i></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <br/>
                      <br/>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <footer class="container-fluid">
  <p id="right">(c) 2017 Ike Grace</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
          <script type="text/javascript" src="src/inverted-index.js"></script>
          <script type="text/javascript" src="src/app.js"></script>
</body>
</html>
