@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: 'Muli', sans-serif;
  background: #ffffff;
  color: #000000;
}

.container {
  padding-right: 4px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252839;
  font-weight: bold;
}

.inst {
  text-decoration: underline;
}

.table-hover {
  color: #252839;
}

.tbl-intro {
  font-weight: bold;
  text-decoration: underline;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #3f51b5;
  color: #ffffff;
  outline: none;
}

.main-header {
  color: #252839;
}

input {
  color: #252839;
}

select {
  color: #252839;
  display: block;
  width: 60%;
}

input:focus {
  color: #252839;
}

.search-button{
  background-color: black;
}
.search-query:focus+button {
  z-index: 3;
}

footer {
  text-align: center;
}
