@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: 'Muli', sans-serif;
  background: #ffffff;
  color: #000000;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.col-md-3 {
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252839;
  font-weight: bold;
}

.inst {
  text-decoration: underline;
}

.footer {
  text-decoration: none;
  background: #252839;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.footer a {
  text-decoration: none;
  background: #252839;
  color: #ffffff;
}

.table-hover {
  color: #252839;
}

.landing {
  width: 100%;
  height: 100%;
}

.instruct {
  font-size: 11pt;
}

.myjumbotron {
  opacity: 0.7;
  background-color: #252839;
  color: #ffffff;
  padding: 25px 5px 25px 5px;
}

.tbl-intro {
  font-weight: bold;
  text-decoration: underline;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #252839;
  color: #ffffff;
  outline: none;
}

.btn btn default

.main-header {
  color: #252839;
}

input,
select,
textarea {
  color: #252839;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus {
  color: #252839;
}

#custom-search-form {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
}

.search-query:focus+button {
  z-index: 3;
}

footer {
    text-align: center;
    margin-top: 8%;
    width: 100%;
    background: rgb(51, 51, 51);
    padding: 15px 0px;
}

#right {
    color: rgb(255, 255, 255);
}
